<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bite 'N Go - Welcome, USER!</title>
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles/bulma.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <script defer src="https://kit.fontawesome.com/f0d5d78b63.js" crossorigin="anonymous"></script>
</head>
<body>
     <!-- DASHBOARD Landing -->
	<nav class="navbar is-flex dash-nav" role="navigation" id="landing">
        <div class="dash-top">
            <h3 class="title is-3">Hello, {FIRSTNAME}!</h3>
        </div>
        <div class="navbar-end" id="dash-menu">
            <span class="icon is-large">
                <i class="fas fa-bars"></i>
            </span>
        </div>
	</nav>
</body>
</html>