<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bite N Go</title>
	<link rel="stylesheet" href="../public/styles/bulma.css">
	<link rel="stylesheet" href="../public/styles/main.css">
	
</head>
<body>
	<div class="columns is-centered">
		<div class="column is-half has-text-centered">
			<h2 class="title is-2">Want to keep track of your favorite food trucks?</h2>
			<button class="button is-rounded index-btn">Sign Up</button>

			<h3 class="title is-3">Have an account already?</h3>
			<button class="button is-rounded index-btn">Sign In</button>
		</div>
	</div>
</body>
</html>