/* ** GLOBAL STYLES  **  */
html {
	background-image: url('https://i.imgur.com/n2sUAE4.png');
	background-size: cover;
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: 'Exo', Arial, sans-serif ;
}
section {
	background-color: rgba(53,58,77,0.9);
}

/* ** INDEX/TITLE STYLES  **  */
.column {
	border: 1px royalblue solid;
}
.index-title{
	color: #fff;
}

/* ** INDEX - INPUT STYLES  **  */
.index-section{ 
	height: 100vh;
}
.index-input {
	color: #fff;
	border-top: 0;
	border-right: 0;
	border-bottom: 3px solid #fff;
	border-left: 0;
	border-radius: 3px;
	border-color: #fff;
	background: none;
	font-family: 'Exo', Arial, sans-serif ;
}
.index-input::placeholder{
	color: #fff;
}
.index-btn {
	border: 2px solid #fff;
	background: none;
	color: #fff;
}
.index-btn a:link, a:visited {
	color: #fff;
}
.index-btn:hover {
	background: rgba(255, 255, 255, 0.9);
	color: crimson;
	border: #fff;
	cursor: pointer;
}
.index-btn a:hover {
	color: crimson;
	border: #fff;
	cursor: pointer;
}

/* ** DASHBOARD STYLES  **  */
#dash-menu {
	display: none;
	background-color: rgba(53,58,77,0.8);
	color: crimson;
	height: 100vh;
}
#dash-menu h3, span {
	color: #fff;
}
.dash-modal {
	border-radius: 30px;
	background-color: #fff;
}

/* * VALIDATION * */
.invalid-feedback {
	color: crimson;
}
.dash-btn {
	width: 50%;
	border: 2px solid #fff;
	background: #fff;
	color: #333;
	margin: 10px auto;
}
span.dash-menu-open {
	color: crimson;
	font-weight: 900;
	margin: 5px auto;
	cursor: pointer;
}
 div.dash-menu-open {
	margin: 10px; 
	width: 75px;
	padding: 5px 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	cursor: pointer;
 }
 div.dash-menu-open:hover {
	background: rgba(53,58,77,0.7);
	color: #fff;
	cursor: pointer;
 } 
 span.dash-menu-open:hover {
	color: #fff;
	cursor: pointer;
}
 span:hover.dash-menu-close {
	background-color: rgba(255, 255, 255, 0.7);
	color: #333;
	width: 50%;
	border-radius: 10px;
	cursor: pointer;
	transition: ease-in-out 0.3s;
}
span.dash-menu-close{
	transition: ease-in-out 0.3s;
}

/* * MODAL STYLES* */
.modal-card {
	margin: 7% auto;
}

.upload-btn {
	color: #FF9665;
	border: 2px solid #FF9665;
	background: transparent;
}
#modal-update{
	z-index: 777;
}
#modal-delete{
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.7);
}

/* * MODAL- INPUT STYLES* */
.modal-input {
	font-family: 'Exo', Arial, sans-serif;
	color: #333;
	margin: 5px auto;
	border-top: 0 solid  #fff;
	border-right: 0 solid  #fff;
	border-bottom:  2px solid #333;
	border-left: 0 solid  #fff;
}
.modal-input::placeholder {
	color: #333;
	font-family: 'Exo', Arial, sans-serif ;
}
.modal-textarea {
	border: 2px solid #333;
	font-family: 'Exo', Arial, sans-serif ;
}
/* * POST STYLES ** */
.post-content {
	background-color: rgba(53,58,77,0.8);
}
.post-card {
	margin-top: 10px;
	width: 50%;
	border: 2px solid #333;
}
.post-style {
	margin: 0;
	padding: 15px 0 0 15px;
}

.post-style span {
	color: #333;
}
.post-footer {
	display: flex;
	justify-content: flex-end;
	border: 0;
	padding: 5px 2px;
}
.post-btn {
	font-size: 18px;
	margin: 2px;
	border: 0;
}
.post-btn span {
	color: #333;
	border: 0;
}
.post-btn span:hover{
	color: #e41a10;
	cursor: pointer;
}

/* * MEDIA QUERIES  **  */
@media screen and (max-width: 960px) {
	.section {	
		display: flex;
		justify-content: center;
		box-sizing: border-box;
	}
	.dash-btn {
		width: 100%;
	}
}
@media screen and (max-width: 460px) {
	.modal-card {
		margin: 0 auto;
	}
	.modal-content {
		margin: 0;
	}
	.post-card {
		width: 90%;
		margin: 4% auto;
	}
	.post-style{
		padding: 15px;
	}
}