/* ** GLOBAL STYLES  **  */
html {
	background-image: url(../images/city-map-vector.png);
	background-size: contain;
}

body {
	font-size: 14px;
	font-family: 'Exo', Arial, sans-serif ;
}

section {
	background-color: rgba(53,58,77,0.8);
	border: 1px crimson solid;
}

div {
	border: 1px chartreuse solid;
	color: #fff;
}

/* ** INDEX/TITLE STYLES  **  */
.column {
	border: 1px royalblue solid;
}
.title {
	border: 1px crimson solid;
	color: #fff;
}

/* ** INDEX/INPUT STYLES  **  */
.section{ 
	height: 100vh;
}

.is-half {
	border: 1px fuchsia solid;
}
.index-input {
	color: #fff;
	border-top: 0;
	border-right: 0;
	border-bottom: 3px solid #fff;
	border-left: 0;
	border-radius: 3px;
	border-color: #fff;
	background: transparent;
	font-family: 'Exo', Arial, sans-serif ;
}

.index-input::placeholder{
	color: #fff;
}

.index-btn {
	border: 2px solid #fff;
	background: none;	
	color: #fff;
}

.index-btn:hover {
	background: rgba(255, 255, 255, 0.9);
	color: crimson;
	border: #fff;
	cursor: pointer;
}